body {
	background:#5d0b97 !important;
	font-family:Georgia;
}

.jumbotron {
	background:#6d1ba7 !important;
	text-align: center;
}

ins {
	padding: 6px 12px;
	font-size: large;
}

h1,h2,h3,h4,p, em, strong {
	color:white;
}

button {
	margin-bottom:10px !important;
}

ins {
	color:white;
	text-decoration: none;
}

a {
	color:cyan !important;
}

#points {
	color:orange;
}

#shoptitle {
	color:green;
}

.price {
	text-decoration: underline;
	color:#ffff66;
}

.shopsection {
	color:yellow;
}
